.knobs, .canvas {
    flex: 1;
}

.canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rect {
    width: 100%;
    height: 50%;
    align-self: stretch;
    background-color: var(--color-dark-blue-transparent);
    border: var(--spacing-50) solid var(--color-black-transparent);
    
    position: relative;
}
.rect > .ellipse {
    width: 50px;
    height: 50px;

    background-color: var(--color-light-blue-transparent);
    
    position: absolute;
}


.top-left {
    border-radius: 50%;
}
.top-right {
    right: 0;
    border-radius: 50%;
}
.bottom-right {
    bottom: 0;
    right: 0;
    border-radius: 50%;
}
.bottom-left {
    bottom: 0;
    border-radius: 50%;
}
