
#canvas {
    flex: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rect {
    box-sizing: content-box;
    width: 600px;
    height: 600px;

    align-self: center;
    background-color: var(--color-dark-blue-transparent);
    border: var(--spacing-50) solid var(--color-black-transparent);
    
    position: relative;
}
.rect > .ellipse {
    box-sizing: content-box;
    width: 0;
    height: 0;

    background-color: var(--color-light-blue-transparent);
    
    position: absolute;
}

#top-left, #top-right, #bottom-left, #bottom-right {
    border-radius: 50%;
}

#top-right {
    right: 0;
}
#bottom-right {
    bottom: 0;
    right: 0;
}
#bottom-left {
    bottom: 0;
}
