
#canvas {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rect {
    box-sizing: content-box;

    align-self: center;
    background-color: var(--color-dark-blue-transparent);
    
    position: relative;
}
.rect > .ellipse {
    box-sizing: content-box;
    width: 0;
    height: 0;

    background-color: var(--color-light-blue-transparent);
    
    position: absolute;
}

#top-left-ellipse, #top-right-ellipse, #bottom-left-ellipse, #bottom-right-ellipse {
    border-radius: 50%;
}

#top-right-ellipse {
    right: 0;
}
#bottom-right-ellipse {
    bottom: 0;
    right: 0;
}
#bottom-left-ellipse {
    bottom: 0;
}
