* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-inline-size: 100vi;
    min-block-size: 100vb;
}


.split-screen {
    max-block-size: 100vb;
    min-inline-size: 100vi;
    padding: var(--spacing-150);
    overflow: auto;
    scrollbar-gutter: stable both-edges;
}

.h-flex {
    display: flex;

}
.v-line {
    width: var(--spacing-12_5);
    margin-inline: var(--spacing-150);
    background-color: black;
}
