* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: auto;
    scrollbar-gutter: stable;
}
body {
    max-inline-size: 100%;
    min-block-size: 100vb;
}
main > *:not(:last-child) {
    border-bottom: var(--spacing-12_5) solid black;
}
main > *:not(:first-child) {
    border-top: var(--spacing-12_5) solid black;
}

header {
    padding: var(--spacing-150) 0 var(--spacing-50);
    text-align: center;
}
.logo {
    height: 4rem; /* 64px */
}
.split-screen {
    display: flex;

    min-block-size: 100vb;
    max-inline-size: 100%;
    padding: var(--spacing-150);
}

.v-line {
    width: var(--spacing-12_5);
    margin-inline: var(--spacing-150);
    background-color: black;
}

.footer {
    height: 6rem; /* 144px */
    padding: var(--spacing-150) 0;
    text-align: center;
}