.knobs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--spacing-150);
}

.knobs > *:not(:last-child) {
    padding-bottom: var(--spacing-50);
    border-bottom: var(--spacing-12_5) solid black;
}

/* settings */
fieldset {
    border: var(--spacing-12_5) solid black;
    padding: var(--spacing-50);
}

.measurement-units-container, .rect-dimensions {
    display: flex;
    justify-content: space-evenly;
    gap: var(--spacing-50);
}
.measurement-unit {
    accent-color: black;
}

#rect-width-input, #rect-height-input {
    border: var(--spacing-12_5) solid black;
    width: 6.3rem; /* 100.8px */
    height: 2.5rem; /* 40px */
    padding-left: var(--spacing-100); /* 16px */
}

/* ellipse corner */
.ellipse-semi-axes {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: var(--spacing-50);
    align-items: center;
}

.slider-input {
    display: flex;
    justify-content: space-between;
}
.semi-axis-slider {
    accent-color: black;
}
.semi-axis-value {
    justify-self: end;
    text-align: end;

    width: 7rem; /* 112px, can fit maximum 4 digits along with the unit*/ 
    border: var(--spacing-12_5) solid black;
    padding: var(--spacing-50);
}
.css-declaration {
    display: block;
    background-color: var(--color-gray);

    padding: var(--spacing-50);
    margin-top: var(--spacing-50);

    position: relative;
}
.copy-btn {
    all: initial;
    font-size: 1.875rem;
    position: absolute;
    right: var(--spacing-50);
    top: 0;
}
.copy-btn:hover {
    cursor: pointer;
}
.copy-btn:active {
    transform: scale(0.8);
}

.css-border-radius-properties {
    margin-top: 0;
    padding: var(--spacing-100);
    height: 6.5rem;
}